HOST=
PORT=
DATABASE=
DB_USERNAME=
PASSWORD=
ACCESS_TOKEN_EXPIRE_MINUTES=
SECRET_KEY=
ALGORITHM=
STEAM_OPENID_URL=https://steamcommunity.com/openid/login
STEAM_API_KEY=
BASE_URL=
RETURN_STEAM_URL=
STEAM_PROFILE_INFO_URL=https://api.steampowered.com/ISteamUser/GetPlayerSummaries/v0002/
STEAM_PROFILE_GAMES_URL=https://api.steampowered.com/IPlayerService/GetOwnedGames/v0001/
STEAM_PROFILE_RECENT_GAMES=https://api.steampowered.com/IPlayerService/GetRecentlyPlayedGames/v0001/